<nav class="navbar navbar-light bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a routerLink="/dashboard" routerLinkActive="active" class="nav-link" aria-current="page">Dashboard</a>
          </li>
          <li class="nav-item">
            <a routerLink="/sort" routerLinkActive="active" class="nav-link" aria-current="page">Sorting</a>
          </li>
          <li class="nav-item">
            <a routerLink="/graph" routerLinkActive="active" class="nav-link" >Graph traversing</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>