<div class="row">
  <div class="col-md-2 action-buttons">
    <button (click)="initSource()" class="btn btn-primary left-side">Source</button>
    <button (click)="initDestination()" class="btn btn-outline-success left-side">Destination</button>
    <div class="option-item left-side" style="margin-top: 5px;">
      <select class="form-control left-item" [(ngModel)]="selectedAlgorithm">
        <option value="" disabled>Algorithm</option>
        <option *ngFor="let algorithm of algorithms" [value]="algorithm">{{ algorithm }}</option>
      </select>
    </div>
    <button (click)="search()" [disabled]="readyToSort()" class="btn btn-success left-side">Search</button>
    
    <div class="form-check left-side" style="margin-top: 10px;">
      <input [(ngModel)]="showGridValue" class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        Show value
      </label>
    </div>
    <div class="option-item left-side" style="margin-top: 5px;">
      <select class="form-control left-item" 
        [(ngModel)]="operationDelay"
        (change)="onOperationDelayChange()">
        <option value="" disabled>Delay</option>
        <option *ngFor="let time of msTime" [value]="time">{{time}} ms</option>
      </select>
    </div>
    <button (click)="reload()" class="btn btn-outline-warning left-side">Reset</button>

  </div>
  <div class="col graph-container" #g_containerRef>
    <div 
      *ngFor="let node of nodes" 
      class="node" 
      [id]="node"
      (click)="updateNode(node)">
      <span *ngIf="showGridValue">{{node}}</span>
    </div>
  </div>
</div>