.graph-container {
  display: flex;
  max-width: 900px;
  min-width: 900px;
  min-height: 600px;
  border: 1px solid #ccc;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.node {
  width: 25px;
  height: 25px;
  border-radius: 5px;
  background-color: azure;
  border: 1px solid beige;
  box-shadow: 0 0 1px rgb(0 0 0 / 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: blue;
  font-size: 7px;
}

.node:hover {
  cursor: pointer;
  background-color: brown;
  transition: .5s;
}

.source-node {
  background-color: blue;
  color: aliceblue;
  font-weight: bold;
}

.dest-node {
  background-color: green;
  color: black;
  font-weight: bold;
}

.internal {
  background-color: gold;
  border: 1px solid red;
  transition: .2s;
  /* z-index: 1; */
}

.neighbour {
  background-color: darkolivegreen;
  border: 1px solid blue;
  transition: .5s;
}

.path-print {
  background-color: gold !important;
  border-radius: 50%;
  color: crimson;
  border: 1px solid chartreuse;
  font-weight: bold;
  transition: .7s;
}

.action-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.action-buttons button {
  margin: 15px 0;
}